body{
  margin: 0px;
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.2);
  color: white;
  position: fixed;
  z-index: 1;
}

.navigate ul {
  display: flex;
  flex-direction: row;
  gap: 46px;
  list-style: none;
}

.navigate li {
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.homepage{
  background-image: url("../public/indoor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100vw;
  background-size: 100vw;
}

.houses{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  background-color: white;
}

.summary{
  text-align: center;
}

.summary h1{
  font-size: 50px;
  font-weight: 600;
}

.summary p{
  font-size: large;
}

.sell-house{
  display: flex;
  flex-direction: row;
  padding: 150px 70px 50px 80px;
}

.sell-house-info {
  padding: 0px 120px 0px 0px;
}

.sell-house-info h1{
  font-size: 40px;
  color: rgb(17, 7, 75)
}
.sell-house-info p{
  font-size: medium;
  font-weight: 350;
  width: 35vw;
}

.sell-buy{
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.sell{
  background-color: rgb(17, 7, 75);
  border: 0px;
  color: white;
  width: 100px;
  height: 40px;
  font-weight: 500;
  border-radius: 10px;
}
.sell:hover{
  background-color: rgb(11, 4, 49);
}

.buy{
  background-color: white;
  border-color: rgb(17, 7, 75);
  color: rgb(17, 7, 75);
  width: 100px;
  height: 40px;
  font-weight: 500;
  border-radius: 10px;
}

.sell-image{
  width: 42vw;
  border-radius: 10px;
}

.owner{
  background-color: rgb(17, 7, 75);
    height: 60vh;
    width: 100vw;
}

.owner-text{
  padding-left: 70px;
   padding-top: 30px; 
   width: 40vw;
}

.owner-text h1{
  margin-bottom: 0px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.owner-text h2{
  margin: 0px;
  font-size: 38px;
  color: rgb(126, 117, 117);
}

.owner-text p{
  color: white;
  font-size: large;
}

.own-button{
  background-color: rgb(46, 18, 202);
  border: 0px;
  color: white;
  font-size: 15px;
  margin-top: 15px ;
  width: 120px;
  height: 40px;
  font-weight: 500;
  border-radius: 10px;
}

.own-button:hover{
  background-color: rgb(32, 13, 141);
}

.services {
  display: flex;
  flex-direction: row;
  margin: 0px;
  width: 100vw;
  margin-bottom: 20px;
  gap: 30px;
}

.interior {
  background-image: url('../public/interior.jpg');
  background-position: center;
  background-size: cover;
  margin-top: 70px;
  margin-left: 130px;
  height: 80vh;
  width: 40vw;
  position: relative;
}

.interior-text {
  background-color: white;
  width: 20vw;
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: rgb(17, 7, 75);
}

.interior-text P{
  width: 200px;
}

.service-button{
  width: 160px;
  border-radius: 0%;
  border-width: 1px;
  border-color: rgb(17, 7, 75);
  background-color: white;
  height: 40px;
  font-weight: 500;
}

.buildings{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.luxury{
  background-image: url('../public/luxury.jpg');
  background-position: center;
  background-size: cover;
  width: 40vw;
  height: 40vh;
  position: relative;
  margin-top: 50px;
}

.luxury-text {
  background-color: white;
  width: 15vw;
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: rgb(17, 7, 75);
}

.commercial {
  background-image: url('../public/commercial.jpg');
  background-position: center;
  background-size: cover;
  width: 40vw;
  height: 40vh;
  position: relative;
}


.commercial-text {
  background-color: white;
  width: 18vw;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgb(17, 7, 75);
}

.next{
  display: flex;
  flex-direction: column;
  background-color: #F1EFEC;
  width: 100vw;
  margin: 0px;
  text-align: center;
}

.next-img{
  width: 55vw;
  height: 75vh;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.what-next-button{
  width: 300px;
  height: 60px;
  position: relative;
  top: 15px;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(17, 7, 75);
  color: rgb(17, 7, 75);
  font-size: medium;
}

.next-text{
  padding-top: 50px;
}

.next h1{
  font-size: 50px;
  color: rgb(17, 7, 75);
}

.next p{
  padding: 5px 220px;

}