.houseItem{
    display: flex;
    flex-direction: column;
}
.houseItem img{
 height: 200px;
}

.houseItem h1{
    color: rgb(17, 7, 75);
    font-size: larger;
    margin: 0% 0% 0% 3%;
}

.houseItem p{
    font-size: small;
    font-style: italic;
    margin: 2% 0% 0% 3%;
}

.houseItem h3{
    font-size: medium;
    margin: 2% 0% 2% 3%;
}
